<div class="layui-row layui-admin-mt10">
	<span class="layui-breadcrumb"> <a href="https://yq5658.top/Home/H1/index.html">首页</a> <a><cite>发布内容</cite></a>
		<a><cite>关于笔记博客</cite></a>
	</span>
</div>
<hr>
<div class="layui-fluid layui-admin-mt20">

	<div class="layui-col-md5">
		<fieldset class="layui-elem-field layui-field-title">
			<legend>初衷</legend>
		</fieldset>
		<div class="layui-text">
			<ul>
				<li>把努力当成一种习惯</li>

				<li>把优秀当成一种信仰<iframe src="https://yq5658.top" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
			</ul>
			<p class="layui-admin-mt20">
				联系反馈：<br>
				博客： <a target="_blank"
					href="http://yq5658.top/">城南</a> 评论反馈<br>
				Github： <a target="_blank"
					href="https://github.com/yq5658"> Issues</a><br>
			</p>
		</div>
	</div>
</div>
